recursive-include orangecontrib/bio *.png *.svg
recursive-include scripts *
recursive-include tests *
recursive-include docs/rst *
include docs/Makefile
include COPYING
include LICENSE
include *.py *.txt *.rst
